.easy-table {
    display: table;
    margin-bottom: 1em;
}

.easy-table .easy-table__row {
    display: table-row;
    text-align: left;
}

.easy-table .easy-table__row.easy-table__row--header {
    font-weight: bold;
}

.easy-table .easy-table__row .easy-table__cell {
    display: table-cell;
    padding-left: 0.6em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.easy-table .easy-table__row .easy-table__cell:last-child {
    padding-right: 0.6em;
}

.easy-table .easy-table__row .easy-table__cell.limitedwidth {
    line-height: 1.4em;
}

.easy-table .easy-table__row .easy-table__cell.limitedwidth > div {
    max-width: 500px;
}

.easy-table th:first-child, .easy-table td:first-child, .easy-table td.first-child {
    padding-left: 1em;
}

.easy-table th:last-child, .easy-table td:last-child {
    padding-right: 1em;
}

.easy-table tbody, .easy-table thead, .easy-table tfoot {
    border-top-style: solid;
    border-top-width: 1px;
}

.easy-table th.right, .easy-table td.right {
    text-align: right;
}

.easy-subtables thead {
    border: none;
}

.easy-subtables thead th {
    line-height: 3em;
    padding: 0;
}

.easy-table tr td,
.easy-table tr th {
    line-height: 1.8em;
    vertical-align: middle;
}

.easy-table .easy-table__cell:not(.extend) {
    cursor: default;
}

.easy-table input[type="checkbox"] {
    display: block;
}

/* Selection Highlighting */

.easy-table tr.selected td .icon {
    -webkit-filter: grayscale(100%) brightness(2);
    filter: grayscale(100%) brightness(2);
}

.easy-table th.right, .easy-table td.right {
    text-align: right;
}

.easy-table .extend p {
    opacity: 25%;
    text-align: right;
}

@media (prefers-color-scheme: light) {
    .easy-table .easy-table__row.easy-table__row--header {
        background: #ddd;
    }

    .easy-table thead tr {
        background-color: #cdcdcd;
    }

    .easy-table tr.broken td {
        background-color: #ffcdcd;
    }

    .easy-table tr.askew td {
        background-color: #ffe2cd;
    }

    .easy-table tr.selected td {
        background-color: #3573bf;
        color: white;
    }

    .easy-table tr.selected td .icon {
        color: white;
    }

    .easy-table tr.linerow.selected:hover td {
        background: #4a89d5;
    }

    .easy-table tr.linerow:hover td {
        background-color: #ddd;
    }

    .easy-table .easy-table__row .easy-table__cell {
        border-bottom: 1px solid #ccc;
    }

    .easy-table tbody, .easy-table thead, .easy-table tfoot {
        border-top-color: #ccc;
    }
}

@media (prefers-color-scheme: dark) {
    .easy-table .easy-table__row.easy-table__row--header {
        background: #111;
    }

    .easy-table thead tr {
        background-color: #cdcdcd;
    }

    .easy-table tr.broken td {
        background-color: #420606;
    }

    .easy-table tr.askew td {
        background-color: #420606;
    }

    .easy-table tr.selected td {
        background-color: #123867;
        color: #333;
    }

    .easy-table tr.linerow.selected:hover td {
        background: #1d4b84;
    }

    .easy-table tr.linerow:hover td {
        background-color: #222;
    }

    .easy-table .easy-table__row .easy-table__cell {
        border-bottom: 1px solid #333;
    }

    .easy-table tbody, .easy-table thead, .easy-table tfoot {
        border-top-color: #444;
    }
}
