* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0.5em 0;
}

html, body {
    font-size: 15px;
}

html {
    min-height: 100%;
    font-family: Helvetica;
}

body.centered {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    min-height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
}

.login-page {
    display: inline-block;
    padding-bottom: 15em;
}

.area {
    position: relative;
}

.area + .area, .sidebar {
    position: fixed;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 99vh;
    z-index: 10;
}

.area + .area {
    border-left: 1px solid #ccc;
    background-color: #eee;
}

.sidebar {
    background-color: #555;
    border-right: 3px solid #333;
}

.sidebar, .sidebar a {
    color: white;
}

.raw {
    padding: 1em;
    background: white;
    border: #999;
    margin: 0 2em;
}

textarea.raw {
    width: 90%;
    height: 20em;
}