
.sidebar h3 + nav {
    margin-top: 0;
}

nav a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

.sidebar h3, nav a {
    padding: 6px 15px;
}

.sidebar h3:first-child, nav a:first-child {
    margin-top: 12px;
}

.sidebar h3:last-child, nav a:last-child {
    margin-bottom: 12px;
}


@media (prefers-color-scheme: light) {
    nav a {
        color: #333;
    }

    nav a.current {
        background-color: white;
        color: #333;
    }
}

@media (prefers-color-scheme: dark) {
    nav a {
        color: #cdcdcd;
    }

    nav a.current {
        background-color: #ddd;
        color: #333;
    }
}
